<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <title>Tất cả bo phim </title>

    <th:block id="css">

    </th:block>
</head>

<body>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Danh sách bo phim
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-12">
                    <a href="/admin/films/create" type="button" class="btn btn-primary">
                        <i class="fas fa-plus"></i> Thêm phim
                    </a>
                    <a href="/admin/directors" type="button" class="btn btn-info">
                        <i class="fas fa-redo"></i> Refresh
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="table-blog" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Tên phim </th>
                                    <th>The loai </th>
                                    <th>Gioi thiệu</th>
                                    <th> Nam phat hanh </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="movie : ${movieList}">
                                    <td>
                                        <a th:href="@{/admin/films/{id}/detail (id=${movie.id})}"
                                           th:text="${movie.title}">Bùi Hiên</a>
                                    </td>

                                    <td th:text="${movie.type}"> PHIM LE</td>
                                    <td th:text="${movie.description}"> noi dung phim xoay quanh cac ...</td>
                                    <td th:text="${movie.releaseYear}"> 2015</td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<th:block id="js">
    <script th:inline="javascript">
        $('#table-blog').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    </script>
</th:block>
</body>

</html>